.table-wrapper {
  overflow: hidden;
  overflow-x: scroll;
}

table {
  border-spacing: 0px;
  min-width: 1196px;

  thead,
  tbody {
    display: flex;
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--gray);
  background: rgba(255, 255, 255, 0.925);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -webkit-box-shadow: var(--gray);
  background: var(--gray);
  border-radius: 10px;
}

.table {
  background-color: var(--white);
  padding: 25px;
  border-radius: 5px;
  padding-bottom: 0;
}


tr {
  align-items: center;
  display: flex;
  min-height: 60px;
  width: 100%;

  &:last-child {
    margin-bottom: 5px;
  }

  th {
    background: #f9fafc;

    &:not(:last-child) {
      border-bottom: 2px var(--background-color) solid;
    }
  }

  td {
    border-bottom: 2px var(--white) solid;
  }

  th,
  td {
    align-items: center;
    display: flex;
    flex-basis: calc(30% - 120px);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0px 5px 0px 5px;
    height: 60px;
    justify-content: flex-start;

    &:first-child,
    &:last-child {
      flex-basis: 4.5%;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        color: var(--gray)
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

th {
  background-color: var(--light-gray); /* Cambia el fondo del encabezado */
}

@media (max-width: 600px) {
  th,
  td {
    display: block;
    width: 100%;
  }
}


.inline-icon {
  font-size: 18px !important;
  margin-left: 5px;
  vertical-align: bottom;
}

span .v-dots {
  position: relative;
}

.v-dots {
  color: var(--gray);
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}