button {
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  height: 50px;
  width: 90px;
  color: var(--blue)
}
button {
  &.yellow {
    background: var(--yellow);
    &:is(:disabled) {
      background-color: var(--yellow_opacity);
      cursor: not-allowed;
    }
  }
}
button {
  &.gray {
    background: var(--background-color);
    &:is(:disabled) {
      background-color: var(--gray)
    }
  }
}
