header {
  display: flex;
  height: 80px;
  background-color: var(--white);
  justify-content: center;
}

main {
  display: flex;
  border-radius: 5px;
  min-height: calc(100vh - 80px);
}

img {
  &:hover {
    cursor: pointer;
  }
}
